<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.my" />
	<context:annotation-config />
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<aop:aspectj-autoproxy />
	
	
	<bean id="registationAction" class="com.my.actions.RegistationAction"
		scope="prototype">
		<property name="registationManager" ref="registationManager"></property>	
	</bean>
	<bean id="registationManager" class="com.my.model.manager.RegistationManager"/>
	
	<!-- 注册AOP -->
	<bean id="registationAop" class="com.my.aop.RegistationAop" />
	
	<tx:advice id="registationTx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="java.lang.Exception" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="registationMethods" expression="execution(public * com.my.model.manager.RegistationManager.*(..))"/>
		<aop:advisor pointcut-ref="registationMethods" advice-ref="registationTx" />
	</aop:config>
		
	<aop:config>
		<aop:aspect id="check" ref="registationAop">
			<aop:pointcut expression="execution(public * com.my.model.manager.*.createUser(..)) and args(registation)"
				id="checkParam"/>
			<aop:around method="checkParameter" pointcut-ref="checkParam" arg-names="registation"/>
		</aop:aspect>
	</aop:config>
	
	
	<!-- myBatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
       <property name="dataSource" ref="dataSource" />  
       <property name="configLocation" value="classpath:mybatis-cfg.xml"></property>
	</bean>  
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.my.dao.UserDao"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
       destroy-method="close">  
       <property name="driverClassName" value="${jdbc.driver}" />  
       <property name="url" value="${jdbc.url}" />  
       <property name="username" value="${jdbc.username}" />  
       <property name="password" value="${jdbc.password}" />  
    </bean>  
	
	<!-- 使用JDBC事物 -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>
	
</beans>